
@{
    ViewBag.Title = "SuaTK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="m-0">Quản lý tài khoản</h2>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @*<li class="breadcrumb-item"><a href="#">Tran</a></li>*@
                    @*<li class="breadcrumb-item active">Trang chủ</li>*@
                    <li class="breadcrumb-item"><a href="../QLTK/DSTK">Quản lý tài khoản</a></li>
                    <li class="breadcrumb-item active">Sửa tài khoản</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">

                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Sửa tài khoản</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="url_server" method="post" id="frm_data">
                        <input type="hidden" name="txt_id" id="txt_id">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label for="txt_tentk">Mã tài khoản<span class="requiment">*</span></label>
                                        <input type="text" class="form-control require" id="txt_tentk" name="txt_tentk" placeholder="VD:Admin">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-9">
                                    <div class="form-group">
                                        <label for="txt_user">Tên đăng nhập <span class="requiment">*</span></label>
                                        <input type="text" class="form-control require" id="txt_user" name="txt_user" placeholder="VD:admin">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="txt_password">Mật khẩu</label>
                                        <input type="password" class="form-control" id="txt_password" name="txt_password" placeholder="VD:123456">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="txt_quyentc">Quyền truy cập</label>
                                        <select class="form-control" id="txt_quyentc" name="txt_quyentc">
                                            <option value="Admin">Admin</option>
                                            <option value="Nhân Viên">Nhân viên</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label for="txt_manv">Mã nhân viên</label>
                                        <input type="text" class="form-control" id="txt_manv" name="txt_manv" placeholder="VD:NV00">
                                    </div>
                                </div>

                            </div>*@

                            @*<div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>*@
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <div id="div_noft"></div>
                            <button type="button" class="btn btn-primary" id="btn_sua">Sửa</button>
                            <button type="reset" class="btn btn-outline-danger">Xóa</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<script>
    $(document).ready(function () {
        var url = new URL(window.location.href);
        var id = url.searchParams.get("tenTK");

        //trường hợp không rỗng
        var formData = new FormData();
        formData.append("tenTK", id);

        $.ajax(
            {
                type: "POST",
                data: formData,
                contentType: "application/json; charset=utf-8",
                url: window.location.origin + '/QLTK/get_TK_Info',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {

                    //alert(response);
                    if (response.indexOf("Không tìm thấy") >= 0 || response.indexOf("thất bại") >= 0) {
                        //trường hợp lỗi
                        $("#div_noft").html(response);
                    }
                    else {
                        //trường hợp tìm thấy tài khoản cần sửa
                        /*console.log(response);*/
                        var tk_obj = JSON.parse(response);
                        $("#txt_id").val(tk_obj.TenTK);
                        $("#txt_tentk").val(tk_obj.TenTK).prop('readonly', true);;
                        $("#txt_user").val(tk_obj.User);
                        $("#txt_password").val(tk_obj.Password);
                        $("#txt_quyentc").val(tk_obj.QuyenTC);
                        /*$("#txt_manv").val(tk_obj.MaNV);*/

                        //$("#txt_nhaclai_matkhau").val(sv_obj.MatKhau);
                        //console.log(nv_obj.TenTK);
                    }
                },
                error: function (response) {
                    alert("Xử lý lấy thông tin tài khoản cần sửa thất bại");
                }
            }
        );
    })

    //$(document).ready(function () {
    //    var url = new URL(window.location.href);
    //    var id = url.searchParams.get("tenTK");

    //    var formData = new FormData();
    //    formData.append("tenTK", id);

    //    console.log(id);

    //    $.ajax(
    //        {
    //            type: "POST",
    //            //data: {id: id},
    //            data: formData,
    //            //data: JSON.stringify(lst),
    //            contentType: "application/json; charset=utf-8",
    //            url: window.location.origin + '/QLTK/get_TK_Edit',
    //            processData: false,
    //            contentType: false,
    //            cache: false,
    //            success: function (response) {
    //                //alert(response);
    //                $("#div_noft").html(response);
    //            },
    //            error: function (response) {
    //                alert("Xử lý thêm mới thất bại");
    //            }
    //        }
    //    );
    //})
    $("#btn_sua").click(function () {
        //kỹ thuật validate input requiment phía view
        var input_require = $(".require");
        var is_require_all = true;
        for (i = 0; i < input_require.length; i++) {
            if (!$(input_require[i]).val()) {
                is_require_all = false;
            }
        }

        if (is_require_all) {
            //trường hợp không rỗng
            var form = $('#frm_data')[0];
            var formData = new FormData(form);
            //console.log(window.location.origin + '/QLSV/Add');

            $.ajax(
                {
                    type: "POST",
                    //data: {id: $("#hosothisinh_id").html()},
                    data: formData,
                    //data: JSON.stringify(lst),
                    contentType: "application/json; charset=utf-8",
                    url: window.location.origin + '/QLTK/Edit',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        //alert(response);
                        $("#div_noft").html(response);
                    },
                    error: function (response) {
                        alert("Xử lý cập nhật thông tin tài khoản thất bại");
                    }
                }
            );
        }
        else {
            //trường hợp mssv rỗng
            alert("Vui lòng điền vào các trường dữ liệu bắt buộc");
        }
    })
</script>